<tr>
   <td id="{{id}}"></td>
   <td>{{{get_emoji category}}}</td>
   <td>{{category}}</td>
   <td>{{name}}</td>
   <!--update 'update-fields' with id and quantity when quantity changes - see onchange updateThis -->
   <td class="col-md-2"><input id="quantity_{{id}}" class="col-md-2 form-control form-fixer" value="{{quantity}}" onchange="updateThis('{{id}}')" ></input></td>  
   <!--update 'delete-fields' with id when checkbox is checked - see onclick deleteThis -->
   <td><input type="checkbox" id="delete_{{id}}" onclick="deleteThis('{{id}}')"></input></td>
</tr>