<section>
    <h2>{{recipe_name}}</h2>
<!--
    {{recipe_ingredients}}
-->
    <form class="form" id="new-ingredient">
        

        {{#each recipes.ingredients as |ingredient| }}
            {{> add-recipe-ingredients-details}}
            {{!-- {{recipe.name}}
            {{recipe.recipe_ingredient.ingredient_quantity}} --}}
        {{/each}}
        <input type="hidden" id="recipe_id" value="{{recipe_id}}" />
        <div class="form-group">
            <input type="hidden" value="{{recipe_name}}" class="form-control" id="recipe_name" />
        </div>
        
        <div class="form-group">
            <label for="ingredient_id">Ingredient  Name:</label>
            <select id="ingredient_id" name="ingredient_id" class="form-control" >
            <option value="" selected></option>
            {{#each user.ingredients as |ingredient| }}
                {{>recipe-ingredient-select}}         
            {{/each}}
            </select>
        </div>
       
        <div class="form-group">
            <label for="ingredient_quantity">Ingredient Quantity:</label>
            <input type="text" id="ingredient_quantity" class="form-control"/>        
        </div>
        

        <button class="btn btn-primary" type="submit">Add Ingredient</button>
    </form>
</section>
<!--dialog for validation -->
<div id="dialog" title="Validation" class="hidden">
    <p id="dialog-error-msg">Please enter your content.</p>
</div>
<script src="/js/addrecipeingredient.js"></script> 